.btn {
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
  cursor: pointer;
}
form {
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}
.btnn {
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}
.parent {
  background-image: url('/Group.png');
}
.spans {
  color: #ff7979;
  text-align: right;
  font-family: Poppins;
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}
